.source-code {
	width: 100%;
}
.submit-button {
    outline: none;
    border: 0;
    padding: 10px 32px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    color: #196eb8;
    text-transform: uppercase;
    width: 300px;
    margin: 25px auto 0;
}